<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69493045557-nch2eo2i0lek328eri5ig1nafa9e3ucd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69493045557-nch2eo2i0lek328eri5ig1nafa9e3ucd</string>
	<key>API_KEY</key>
	<string>AIzaSyD8a7-RRlNWQREV94w_bAPpC2ndS7gz8N8</string>
	<key>GCM_SENDER_ID</key>
	<string>69493045557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.remoteControl</string>
	<key>PROJECT_ID</key>
	<string>remote-ctrl-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-ctrl-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69493045557:ios:53c522c3e9d083276d747c</string>
</dict>
</plist>